
*.vcxproj
ALL_BUILD.vcxproj.filters
Cartoonifier_Desktop.dir/Debug/cartoon.obj
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/Cartoonifier_Desktop.lastbuildstate
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/CL.command.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/CL.read.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/CL.write.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/custombuild.command.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/custombuild.read.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/custombuild.write.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/link.command.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/link.read.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartooni.5A85AD55.tlog/link.write.1.tlog
Cartoonifier_Desktop.dir/Debug/Cartoonifier_Desktop.log
Cartoonifier_Desktop.dir/Debug/ImageUtils_0.7.obj
Cartoonifier_Desktop.dir/Debug/main_desktop.obj
Cartoonifier_Desktop.dir/Debug/vc140.pdb
Cartoonifier_Desktop.sln
Cartoonifier_Desktop.VC.db
Cartoonifier_Desktop.VC.VC.opendb
Cartoonifier_Desktop.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/2.8.12.2/CMakeRCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeSystem.cmake
CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/2.8.12.2/CompilerIdC/CompilerIdC.exe
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/cl.command.1.tlog
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/2.8.12.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/2.8.12.2/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/cl.command.1.tlog
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/2.8.12.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/f986fb86fd660d1569ffbbc427dc132a/ALL_BUILD.rule
CMakeFiles/f986fb86fd660d1569ffbbc427dc132a/generate.stamp.rule
CMakeFiles/f986fb86fd660d1569ffbbc427dc132a/ZERO_CHECK.rule
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
Debug/Cartoonifier_Desktop.exe
Debug/Cartoonifier_Desktop.ilk
*.pdb
*.log
*.lastbuildstate
*.tlog
ZERO_CHECK.vcxproj.filters
*.cache
